*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-grid{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    gap:0px;
    justify-content: center;
    box-shadow: rgb(0, 0, 0 ,0.25) 0px 3px 8px ;
    position: relative;
    background-color: white;
}
.hover{
    background-color: black;
}
header{
    text-align: center;
    font-size: 48px;
    font-family:Arial, Helvetica, sans-serif    ;
    padding: 20px;
    padding-bottom: 60px;
    font-weight: bold;
}
.interactiveUserContent{
    display: flex;
    justify-content: center;
    gap:100px;
    align-items: center ;
}
.tools{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}
button{
    display: block;
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
    background-color:#aaddec;
    border-radius: 5px;
    border-color: #b1d0e8;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
button:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0,0,0,0.24);
}
.color-picker{
    appearance: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    border-radius: 15px;
   
}
.color-picker::-webkit-color-swatch{
    border-radius: 15px;
    border: none;
}
body{
    background-color: #e7e7e7;
}
#fcffe9