.main-grid{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    gap:0px;
    justify-content: center;
    padding:50px;
    border: 1px solid black;
}
.hover{
    background-color: black;
}